@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
:root{
    --bg-color: #1f2937;
    --btn-color: #3882f6;
    --fonts: Roboto, sans-serif;
    --head-color: #f9faf8;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--fonts);
    display: flex;
    flex-direction: column;
}
.header, 
.footer{
    background-color: var(--bg-color);
}
.header{
    padding: 0 10em;
}
.header-top,
.hero{
    padding-bottom: 5em;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top h2{
    color: var(--head-color);
    font-size: 24px;
}
.nav-links{
    display: flex;
   gap: 1.5em;
}
.hero{
    display: flex;
    justify-content: space-between;
}
.hero-text{
    width: 500px;
    flex-wrap: wrap;
    flex: 0 1 auto;
    padding: 12px 0;
}

.hero-img img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    border: 1px #f9faf8 solid;
}
.hero-main{
    color: var(--head-color);
    font-size: 48px;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.hero-secondary,
a{
    color: #e5e7eb;
    font-size: 18px;
}
button{
    color: #f9faf8;
    background-color: var(--btn-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 2em;
    margin-top: 1em;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.title{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 1em;
}
.container{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.info{
    max-width: 200px;
}
.info p{
    font-weight: bold;
    text-align: center;
}
.box img{
    border: 2px #1f2937 solid;
    border-radius: 8px;
    height: 200px;
    width: 200px;
}
.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 2em 6.5em;
}
.quote-author{
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    font-style: normal;
}
.sign-up{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 7px;
    height: 150px;
    margin: 5em 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sign-up-header{
    font-size: 24px;
    font-weight: bold;
}
.sign-up-btn{
    border: 2px #f9faf8 solid;
}
.footer{
    padding: 5em auto;
    text-align: center;
    color: #f9faf8;
}