:root{
    --bg-color: #1f2937;
    --btn-color: #3882f6;
    --fonts: Verdana, Tahoma, Arial, sans-serif;
    --head-color: #f9faf8;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--fonts);
}
.header, 
.footer{
    background-color: var(--bg-color);
}
.header{
    padding: 0 10em;
}
.header-top,
.hero{
    padding-bottom: 5em;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top h2{
    color: var(--head-color);
    font-size: 24px;
}
.nav-links{
    display: flex;
   gap: 1.5em;
}
.hero{
    display: flex;
    justify-content: space-between;
}
.hero-text{
    width: 500px;
    flex-wrap: wrap;
    flex: 0 1 auto;
    padding: 12px 0;
}
.hero-img{
    width: 500px;
    border: 2px solid;
    border-radius: 5px;
    background-color: azure;
}
h1{
    color: var(--head-color);
    font-size: 48px;
}
a{
    text-decoration: none;
}
.hero-text p,
a{
    color: #e5e7eb;
    font-size: 18px;
}
.hero-text p,
h1{
    margin: 0 auto;
}
button{
    color: #f9faf8;
    background-color: var(--btn-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 2em;
    margin-top: 1em;
}